<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OA系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css" tppabs="layui/css/layui.css" media="all">
    <script src="js/jquery-3.3.1.js"></script>
</head>
<script src="layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer;

        form.verify({
            notSelected: function(value) {
                let data = form.val('submit-form');
                if (value === "" && (data.choice === "membership" | data.choice === "class_id")) {
                    return '请选择选项！';
                }
            },
            notBlank: function(value) {
                let data = form.val('submit-form');
                if (value === "" && !(data.choice === "membership" | data.choice === "class_id")) {
                    return '请输入关键词！';
                }
            }
        });

        //监听提交
        form.on('submit(submitBtn)', function(data){
            layer.confirm('确定查询？', function(index){
                let formData = data.field;
                let keyword;
                if (formData.keyword === ""){
                    keyword = formData.selection;
                }else {
                    keyword = formData.keyword;
                }
                $.post("/user/findByMethod", {
                    method:formData.choice,
                    keyword:keyword
                },function (result) {
                    layer.msg(result.message);
                    if (result.flag){
                        loadTable(result.object);
                    }
                });
                layer.close(index);
            });
            return false;
        });

        form.on('radio(methodChange)', function(data){
            if (data.value === 'membership' | data.value === 'class_id') {
                $("[name=formSelection]").removeClass("layui-hide");
                $("[name=formInput]").addClass("layui-hide");
                $("[name=keyword]").val('');
                if (data.value === 'class_id'){
                    $.get("/info/getClassesList", function loadClass(classList) {
                        classList = eval(classList);
                        let op = '<option value="">请选择</option>';
                        for (let i = 0; i < classList.length; i++) {
                            op += '<option value="'+classList[i].id+'">'+classList[i].text+'</option>';
                        }
                        $("[name=selection]").html(op);
                        form.render('select', 'submit-form');
                    });
                }else {
                    $.get("/info/getMembershipList", function loadClass(membershipList) {
                        membershipList = eval(membershipList);
                        let op = '<option value="">请选择</option>';
                        for (let i = 0; i < membershipList.length; i++) {
                            op += '<option value="'+membershipList[i].id+'">'+membershipList[i].text+'</option>';
                        }
                        $("[name=selection]").html(op);
                        form.render('select', 'submit-form');
                    });
                }
            } else if (data.value === '1') {
                $("[name=formSelection]").addClass("layui-hide");
                $("[name=formInput]").addClass("layui-hide");
                $("[name=selection]").val('');
                $("[name=keyword]").val('1');
            } else{
                $("[name=formSelection]").addClass("layui-hide");
                $("[name=formInput]").removeClass("layui-hide");
                $("[name=selection]").val('');
            }
        });
    });

    //加载查询方案
    $.get("/info/getFindMemberMethod", function loadFindMemberMethod(findMemberMethod) {
        findMemberMethod = eval(findMemberMethod);
        let op = '';
        for (let i = 0; i < findMemberMethod.length; i++) {
            if (i == 0){
                op += '<input type="radio" lay-filter="methodChange" name="choice" value="'+findMemberMethod[i].value+'" title="'+findMemberMethod[i].text+'" checked="">';
                continue;
            }
            op += '<input type="radio" lay-filter="methodChange" name="choice" value="'+findMemberMethod[i].value+'" title="'+findMemberMethod[i].text+'">';
        }
        $("[name=choice]").html(op);
        layui.form.render('radio', 'submit-form');
    });


</script>
<body>
<div class="layui-bg-gray" style="padding: 30px;">
    <div class="layui-row layui-col-space12" name="formBody">
        <div class="layui-col-md3"></div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>查询成员信息</legend>
                    </fieldset>
                </div>
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="submit-form" id="submit-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">查询方式</label>
                            <div class="layui-input-block" name="choice"></div>
                        </div>
                        <div class="layui-form-item" name="formInput">
                            <label class="layui-form-label">关键字</label>
                            <div class="layui-input-block">
                                <input type="text" name="keyword" lay-verify="notBlank" autocomplete="off" placeholder="请输入关键字" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-hide" name="formSelection">
                            <label class="layui-form-label">选项</label>
                            <div class="layui-input-block">
                                <select name="selection" lay-verify="notSelected">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div style="text-align: center">
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="submitBtn">执行操作</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--    查询表格-->
    <table class="layui-hide" id="findTable" lay-filter="findTable"></table>
    </br>
    <div style="width: auto; height: auto; text-align: center">
        <button class="layui-btn layui-hide" name="reloadBtn" onclick="window.location.reload()">返回</button>
    </div>

</div>

<script th:inline="javascript">

    function loadTable(data){
        //清空表
        $("#findTable").length = 0;
        //隐藏查询策略
        $("[name=formBody]").hide();
        //显示按钮
        $("[name=reloadBtn]").removeClass("layui-hide");

        let membershipList;

        $.ajaxSettings.async = false;
        $.get("/info/getMembershipList", function (result){
            membershipList = result;
        });
        $.ajaxSettings.async = true;

        //数据替换
        if (data != null){
            for (let i = 0; i < data.length; i++){
                for (let j = 0; j < membershipList.length; j++){
                    if (data[i].membership == membershipList[j].id){
                        data[i].membership = membershipList[j].text;
                    }
                }
                if (data[i].sex == 0) {
                    data[i].sex = "男";
                }else {
                    data[i].sex = "女";
                }
            }
        }

        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#findTable'
                ,data:data
                ,cols: [
                    [
                        {field:'m_id', width:105, title: '用户ID', sort: true},
                        {field:'name', width:105, title: '用户名'},
                        {field:'sex', width:105, title: '性别', sort: true},
                        {field:'membership', width:110, title: '成员身份', sort: true},
                        {field:'class_id', width:105, title: '班级ID', sort: true},
                        {field:'username', title: '用户名', width: 105},
                        {field:'password', minWidth:150, title: '密码'},
                        {field:'salt', width:105, title: '加密盐'},
                        {align: 'center', title: '操作', width: 180, toolbar: "#bar"}
                    ]
                ],
                page: true
            });

            table.on('tool(findTable)', function(obj){
                let data = obj.data;
                if(obj.event === 'del') {
                    layer.confirm('是否确定删除？', function(index){
                        $.post("/user/delByID", {m_id:data.m_id}, function (result){
                            layer.msg(result.message);
                            if (result.flag) {
                                setTimeout( function(){
                                    window.location.reload();
                                }, 1200 );
                            }
                        });
                        layer.close(index);
                    });
                }
            });
        });
    }

</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
</html>