<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>0A系统</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
</head>
<body>

<table class="layui-hide" id="ticketTable" lay-filter="ticketTable"></table>

<script src="layui/layui.js" charset="utf-8"></script>
<script src="js/jquery-3.3.1.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->

<script th:inline="javascript">

    const member = [[${member}]];
    let membershipList;

    $.get("/info/getMembershipList", function (result){
        let resultList = eval(result);
        membershipList = resultList;
    });

    layui.use('table', function(){
        let table = layui.table;

        // $.get("/ticket/findByApprovalMID",{approval_m_id:member.m_id}, function (result) {
        //     let data = result.object;
        //     alert(data);
        //     for (let i = 0; i < data.length; i++){
        //         $.get("/user/findByID",{m_id:data[i].submit_m_id}, function (result){
        //             data[i].submit_m_id = result.object.name;
        //         });
        //         table.render();
        //         data[i].approval_m_id = member.name;
        //     }
        //     table.render({
        //         elem: '#ticketTable'
        //         ,cols: [
        //             [
        //                 {field:'t_id', width:100, title: '申请ID', sort: true},
        //                 {field:'submit_m_id', width:105, title: '申请用户', sort: true},
        //                 {field:'submit_membership', width:130, title: '申请用户身份', sort: true},
        //                 {field:'title', minWidth:200, title: '标题'},
        //                 {field:'detail', minWidth:250, title: '申请详情'},
        //                 {field:'approval', title: '处理状态', width: 100},
        //                 {field:'approval_m_id', width:100, title: '处理人', sort: true},
        //                 {field:'approval_advice', minWidth:100, title: '处理意见'},
        //                 {fixed: 'right', width:178, align:'center', toolbar: '#bar'}
        //             ]
        //         ],
        //         page: true,
        //         data:data
        //     });
        // });

        table.render({
            elem: '#ticketTable'
            ,url:'/ticket/findByApprovalMID?approval_m_id=' + member.m_id
            ,cols: [
                [
                    {field:'t_id', width:100, title: '申请ID', sort: true},
                    {field:'submit_m_id', width:105, title: '申请用户', sort: true},
                    {field:'submit_membership', width:130, title: '申请用户身份', sort: true},
                    {field:'title', minWidth:200, title: '标题'},
                    {field:'detail', minWidth:250, title: '申请详情'},
                    {field:'approval', title: '处理状态', width: 100},
                    {field:'approval_m_id', width:100, title: '处理人', sort: true},
                    {field:'approval_advice', minWidth:100, title: '处理意见'},
                    {align: 'center', title: '操作', width: 180, toolbar: "#bar"}
                ]
            ],
            page: true,
            parseData: function (res) {
                let data = res.data;
                if (data != null){
                    $.ajaxSettings.async = false;
                    for (let i = 0; i < data.length; i++){
                        $.get("/user/findByID",{m_id:data[i].submit_m_id}, function (result){
                            data[i].submit_m_id = result.object.name;
                        });
                        for (let j = 0; j < membershipList.length; j++){
                            if (data[i].submit_membership == membershipList[j].id){
                                data[i].submit_membership = membershipList[j].text;
                            }
                        }
                        data[i].approval_m_id = member.name;
                    }
                    $.ajaxSettings.async = true;
                }
            }
        });

        table.on('tool(ticketTable)', function(obj){
            let data = obj.data;
            if(data.approval_advice !== null){
                layer.msg("申请已被处理");
                return false;
            }
            if(obj.event === 'submit'){
                layer.confirm('是否确定上呈？', function(index){
                    $.post("/ticket/submit", {t_id:data.t_id}, function (result){
                        layer.msg(result.message);
                        if (result.flag) {
                            setTimeout( function(){
                                window.location.reload();
                            }, 1200 );
                        }
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'agree'){
                layer.confirm('是否确定同意？', function(index){
                    $.post("/ticket/edit", {t_id:data.t_id, approval:"1", approval_advice:"同意"}, function (result){
                        layer.msg(result.message);
                        if (result.flag) {
                            setTimeout( function(){
                                window.location.reload();
                            }, 1200 );
                        }
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'deny'){
                layer.confirm('是否确定拒绝？', function(index){
                    $.post("/ticket/edit", {t_id:data.t_id, approval:"1", approval_advice:"拒绝"}, function (result){
                        layer.msg(result.message);
                        if (result.flag) {
                            setTimeout( function(){
                                window.location.reload();
                            }, 1200 );
                        }
                    });
                    layer.close(index);
                });
            }
        });
    });

</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="submit">递呈</a>
    <a class="layui-btn layui-btn-xs" lay-event="agree">同意</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deny">拒绝</a>
</script>
</body>
</html>